@using CitizenPortal.Helper
@using CitizenPortal.Resources.Views.Home

@section scripts {
    <script>
        $(function () {
            $('#homeBlockData .content').click(function () {
                window.location = '/Data';
            });

            $('#homeBlockApp .content').click(function () {
                window.location = '/Applications';
            });

            $('#homeBlockSupport .content').click(function () {
                window.location = '/Contact';
            });
        });
    </script>
}

<div id="home" class="row">
    <div class="main nine columns">
        @if (!string.IsNullOrEmpty(ConfigHelper.Config.HomeImageUrl))
        {
            <div class="row">
                <div class="twelve columns">
                    <img src="@ConfigHelper.Config.HomeImageUrl" alt="Home image" />
                </div>
            </div>
        }

        <div class="row">
            <div class="twelve columns">
                <div class="subtitle">
                    <h4>@ConfigHelper.Config.HomeTitle</h4>
                </div>
                <div>
                    @Html.Raw(ConfigHelper.Config.HomeText)
                </div>
            </div>
        </div>

        <div id="homeBlocks" class="row">
            <div id="homeBlockData" class="homeBlock four columns">
                <div class="icon"></div>
                <div class="title">
                    <h5>@Index.DataBlockTitle</h5>
                </div>
                <div class="content">
                    <p><span class="accentuated">Découvrez et téléchargez</span> en toute simplicité les jeux de données. Des outils de visualisation accompagnent chaque lot de données.</p>
                    <div class="go">
                        <img src="~/Content/Images/Go.png" />
                    </div>
                </div>
            </div>

            <div id="homeBlockApp" class="homeBlock four columns">
                <div class="icon"></div>
                <div class="title">
                    <h5>@Index.AppBlockTitle</h5>
                </div>
                <div class="content">
                    <p><span class="accentuated">Simplifiez-vous la vie</span> grâce aux applications mobiles développés à partir des bases de données et partagez vos propres créations.</p>
                    <div class="go">
                        <img src="~/Content/Images/Go.png" />
                    </div>
                </div>
            </div>

            <div id="homeBlockSupport" class="homeBlock four columns">
                <div class="icon"></div>
                <div class="title">
                    <h5>@Index.SupportBlockTitle</h5>
                </div>
                <div class="content">
                    <p><span class="accentuated">Pour vous accompagner</span> dans la navigation et l'utilisation de ce portail open data, cet espace vous permet d'échanger directement avec notre équipe.</p>
                    <div class="go">
                        <img src="~/Content/Images/Go.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="asideBlocks three columns">
        @{Html.RenderAction("_Aside", "_Shared");}
    </div>
</div>
